@viewport{ width: device-width;}

:root {font-size:16px;}

::-moz-selection {
    color: #ffffff;
    background: #666;
}

::selection {
    color: #ffffff;
    background: #666;
}

body { 
	margin:0; 
	padding:0; 
	width:100%; 
	height:100%; 
	/* para a imagem do background aparece precisa excluir as <div class=overlay> e <div class=cor> no Index.html*/
	/* background: url(../img/curvas_bg.png) no-repeat center center fixed; */
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

/* Textura do Background Imagem Pattern do bg */
.overlay {
	position: absolute; 
	top: 0; 
	width: 100%; 
	height: 100%;
	background: url(../img/bg2.png) repeat center; 
	z-index:-1;
}
.cor { 
	position:absolute; 
	top:0;
	width:100%; 
	min-height: 100%; 
	opacity: 1;
	filter: alpha(opacity=100); 
	z-index:-2; 
}

.container { 
	position:absolute; 
	top: 40%; 
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	z-index:2;
}
.container::after { 
	content: "";
	position: absolute;
	height: 2px; 
	width:90%;
	margin: 24px auto 0; margin: 1.5rem auto 0;
	right: 0%;
	left: 0%;
	border: none;
	padding: 0;
	-webkit-border-radius: 5%;
	-moz-border-radius: 5%;
	border-radius: 5%;
	-webkit-box-shadow: 0 0px 8px 7px rgba(0,0,0,.4);
	-moz-box-shadow: 0 0px 8px 7px rgba(0,0,0,.4);
	box-shadow: 0 0px 8px 7px rgba(0,0,0,.4);
	background-color:rgba(0,0,0,.4);;
	z-index:1;
	display: block;
}

.box { 
	padding: 36px 44px; padding: 2.25rem 2.75rem;
	width:320px;
	min-height: 100px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color:#ffffff;
	-webkit-box-shadow: 0px -2px 7px 3px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px -2px 7px 3px rgba(0,0,0,0.25);
	box-shadow: 0px -2px 7px 3px rgba(0,0,0,0.25);
	z-index:3;
}
img {
	width: auto;
	max-height: 70px;
	display: block;
	margin: 0 auto -20px; margin: 0 auto -1.25rem;
}
.wellcome {
	font-family: Raleway, Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 20px; font-size: 1.25rem;
	
	margin: 36px 0 16px; margin: 2.25rem 0 1rem;
}

.group { 
	position: relative; 
	margin-bottom: 20px;
	margin-bottom: 1.25rem; 
}
label {
      color: #333333;
      font-size: 16px; font-size: 1rem;
      font-weight: normal;
      font-family: Lato, Arial, "Helvetica Neue", Helvetica, sans-serif;
      position: absolute;
      pointer-events: none;
      top: 12px; top: 0.75rem;
      transition: 0.2s ease all;
}
input {
	color: #666666;
	font-size: 16px;
	font-family: Lato, Arial, "Helvetica Neue", Helvetica, sans-serif;
	padding: 14px 0 8px 0; padding: 0.875rem 0 0.5rem 0;
	display: block;
	outline: none;
	border: none;
	width: 100%;
	border-bottom: thin solid #ffffff;
}

.bar { 
	position: relative; 
	display: block; 
	width: 100%; 
}
.bar:before {
	content: "";
	height: 1px;
	width: 0;
	bottom: 0px;
	position: absolute;
	transition: 0.2s ease all;
}
.bar:before { 
	left: 0%; 
}

input:focus ~ .bar:before {
	width: 100%;
}
input:focus ~ label,
input.used ~ label {
	top: -8px; top: -0.5rem;
	font-size: 12px; font-size: 0.75rem;
	color: #666;
}

input:valid ~ label,
input:valid.used ~ label {
	color: #1B5E20;
}
input:valid { border-bottom: 1px solid #2E7D32; }

input:valid ~ .bar:before {
	background: #2E7D32 !important;
}

input:invalid ~ label,
input:invalid.used ~ label {
	color: #C62828;
}
input:invalid { border-bottom: 1px solid red; }

input:invalid ~ .bar:before {
	background: #C62828 !important;
}

input:invalid:focus ~ label{
	color: #2962FF;
}
input:invalid:focus ~ .bar:before {
	background: #2979FF !important;
}


/* 
input {
	outline: none;
	font-family: Lato, Arial, "Helvetica Neue", Helvetica, sans-serif;
	color: #333333;
}

.form input:focus:-moz-placeholder { color:transparent; }
.form input:focus::-moz-placeholder { color:transparent; }
.form input:focus::-webkit-input-placeholder { color:transparent; }
.form input:focus:-ms-input-placeholder {color:transparent}

.form input:valid { 
	border: thin solid green; 
	background-color: #eeeeee; 
}
.form input:invalid { 
	border: thin solid red; 
	background-color: #eeeeee; 
}
.form input:invalid:focus { 
	background-color: #ffffff;
	border: thin solid #005ece;
}
.form input {
	width: 100%;
	box-sizing: border-box;
	padding: 8px; padding: 0.5rem;
}
.form input:first-of-type {
	margin-top: 8px; margin-top: 0.5rem;
}
.form input:last-of-type {
	margin-bottom: 16px; margin-bottom: 1rem;
} */

.erro {
	background-color: #FFD7D7;
	border: 1px solid #C62828;
	padding: 8px; padding: 0.5rem;
	text-align: center;
	width: 100%;
	margin: 0;
	display: none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	box-sizing: border-box;
}
.erro span {
	color: #C62828;
	font-family: Lato, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 12px; font-size: 0.75rem;
}
.erro span a{
	color: #C62828;
	font-family: Lato, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 12px; font-size: 0.75rem;
	text-decoration: underline;
}

.btn {
	text-align: right;
	margin-top: 36px; margin-top: 2.25rem;
}
.button {
	background-color: rgba(0,0,0,1);
	color: #fff;
	font-family: Raleway, Arial, "Helvetica Neue", Helvetica, sans-serif;
	letter-spacing: .035em;
	text-transform: uppercase;
	border: none;
	outline: none;
	padding: 12px 18px 12px 20px; padding: 0.75rem 1.125rem 0.75rem 1.25rem;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.button:hover {
	background-color: #2E7D32;
	color: #fff;
	-webkit-box-shadow: 0px 2px 5px 2px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px 2px 5px 2px rgba(0,0,0,0.25);
	box-shadow: 0px 2px 5px 2px rgba(0,0,0,0.25);
}
.button::after { 
	content: "▷";
}
.button:hover::after { 
	content: "▶";
}

.footer {
	font-family: Lato, Arial, "Helvetica Neue", Helvetica, sans-serif;
	color: #fff;
	background-color: rgba(0,0,0,0.65);
	font-size: 12px; font-size: 0.75rem;
	padding: 16px 20px; padding: 1rem 1.25rem;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 7;
	line-height: 32px; line-height: 2rem;
}
.footer span {
	float: left;
}
.footer span > a {
	color: #fff;
	outline: none;
}
.footer a:hover {
	text-decoration: underline;
}
.footer img {
	max-height: 32px;
	max-width: 74px; /*se definir a largura bugga no IE*/
	outline: none;
	margin-top: 0px;
	float: right;
}

@media only screen and (max-width: 555px) {

.container { 
	top: 40%; 
}
.box { 
	padding: 28px 24px; padding: 1.75rem 1.5rem;
	width:320px;
}
.button {
	font-size: 13px; font-size: 0.8125rem;
	padding: 8px 16px; padding: 0.5rem 1rem;
}
.footer {
	text-align: center;
	padding: 8px 20px; padding: 0.5rem 1.25rem;
	line-height: 20px; line-height: 1.25rem;
}
.footer span {
	float: unset;
}
.footer img {
	float: none; float: unset;
	margin: 12px auto 0; margin-top: 0.75rem auto 0;
}

}

@media only screen and (max-width: 415px) {

img {
	max-height: 55px;
}
.box { 
	padding: 24px 16px; padding: 1.5rem 1rem;
	width:270px;
}
.footer {
	text-align: center;
	padding: 8px 20px; padding: 0.5rem 1.25rem;
	line-height: 20px; line-height: 1.25rem;
}
.footer img {
	float: none;
	margin: 12px auto 0; margin-top: 0.75rem auto 0;
}

}